@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    display: block;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}
#root{
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
h1{
    margin-bottom: 10px;
    color: #6091da;
}
h3{
    color: #6091da;
    margin-top: 0;
    margin-bottom: 40px;
}
.quantity{
    background: #6091da;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.quantity input{
    height: 30px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #9c9c9c;
    text-align: center;
}
.quantity input:focus{
    outline: none;
}
.quantity a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 25px;
    font-weight: 500;
    line-height: 1;
}